html{
    padding: 0!important;
}


* {
    font-family: 'Baloo Thambi 2', cursive !important;
}

h1 {
    font-family: 'Raleway Extra Bold', sans-serif;
}

h2 {
    margin-top: 80px;
    margin-bottom: 80px;
}

h2, h3 {
    font-family: 'Raleway Bold', sans-serif;
}

div .bg-nav{
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.more-padding p {
    font-size: 20px;
}

.navbar-img{
    height: 100px;
}
.navbar-menu{
    width: 25px;
    margin-top: 30px ;
}
.bold{
    font-weight: bolder !important;
    font-size: large!important;
    color: black!important;
    margin-top: 10px;
}
.plus{
    text-align: center;
    margin-top: 18px!important;

}
.inline{
    display: inline-block;

}
.nav-button{
    background-image:url("../img/bg-button.png") ;
    width: 189px !important;
    height: 50px!important ;
    margin-top:20px!important;
    background-size:contain ;
    text-align: center;
    padding-top: 5px;
}
.sidenav-button{
    background-image:url("../img/bg-button.png") ;
    width: 265px !important;
    height: 70px!important ;
    margin-top:20px!important;
    background-size:contain ;
    text-align: center;
    
    padding-top: 10px !important;
}
.text-white{
    color: white!important;
}
nav{
    background-color: #EEF0EF ;
    height: 90px !important;
    padding-left: 5%;
    padding-right: 5%;
}

footer{
    background-color: #EEF0EF ;
    margin-bottom:0!important;
    
}

.plus, .plus-green {
    padding-left: 25px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: #EF5656;
}

.plus-green {
    background-color: #80C660;
}

.plus:hover {
    background-color: #e63333;
}

.plus-green:hover {
    background-color: #6bc740;
}

.text-white{
    color: white;
}
nav{
    background-color: #EEF0EF ;
    height: 90px !important;
    padding-left: 5%;
    padding-right: 5%;
}

#col-color {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 25%, rgba(0,0,0,0.65) 37.5%, rgba(0,0,0,0.7) 50%, rgba(0,0,0,0.65) 62.5%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0) 100%);
}

.main-img {
    max-width: 50% !important;
}



.main-section {
    position: relative !important;
}

.zig, .rond, .tri {
    position: absolute !important;
    
}

.zig {
    top: 20%;
    left: 0;
}

.rond {
    top: 0;
    right: 0;
}

.tri {
    top: 60%;
    right: 0;
}

.more-padding {
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 50px;
    padding-bottom: 50px;
}

@media only screen and (max-width: 980px) {
    .zig {
        top: 40%;
        width: 20% !important;
    }

    .rond {
        width: 20% !important;
    }

    .tri {
        top: 70%;
        width: 20% !important;
    }

    h2 {
        margin-top: 40px;
        margin-bottom: 40px;
    }
  }

.footer-text{
    overflow-wrap: break-word;
    text-align: center;
}
.three-things {
    margin-top: 30px;
}

